.text-button,
.icon-button {
  font: inherit;
  background-color: unset;
  border: none;
  padding: 0.2em;
  cursor: pointer;
  text-shadow: inherit;
}

.icon-image {
  width: 1.5em;
  height: 1.5em;
}

.apple-count-image {
  width: 1.5em;
  height: 1.5em;
}
