@import 'styles/overlays/before-play.overlay.css';
@import 'styles/overlays/top-bar.overlay.css';
@import 'styles/overlays/game-over.overlay.css';
@import 'styles/overlays/start-game.overlay.css';
@import 'styles/overlays/scoreboard.overlay.css';
@import 'styles/layout.css';
@import 'styles/overlays.css';
@import 'styles/common.css';
@import 'styles/inputs.css';

:root {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: white;
  line-height: 1.5;
  font-weight: 400;
  text-shadow: 0.1em 0.15em 0 black;

  color-scheme: light dark;
  background-color: #283609;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-green: #81b622;
  --secondary-green: #283609;
  --text-color: white;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-color);
}

h1 {
  font-size: 2.5em;
  text-shadow: 0.1em 0.1em 0px black;
  flex: 1;
}

h2 {
  font-size: 1em;
}

img {
  filter: drop-shadow(0.1em 0.1em 0 black);
}
